@mixin clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: '';
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

.wrapper {
  margin: 1em auto;
  max-width: 36.5em;
  padding: 0 1em;
  > .contact-us {
    margin-top: 3em;
    margin-bottom: 2em;
  }
  @include clearfix();
}

